# BEGIN SMUSH-WEBP
# Las directivas (líneas) entre «BEGIN SMUSH-WEBP» y «END SMUSH-WEBP» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.

# END SMUSH-WEBP